
.roster div {
    display: flex;
    flex-wrap: wrap;
}

.roster h4 {
    padding-left: 10px;
}

.roster .queried {
    font-size: 1.75vh;
    color: black;
    background: teal;
}

.roster .queried:hover {
    background: #424242;
}

.team > .roster {
    flex: 2;
    flex-basis: 20%;
}

.team > .basic-info {
    flex-basis: 10%;
    flex: 2;
}

.team .log {
    display: flex;
    flex-direction: column;
}
